@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
$green:#06C167;
$text:#1D1D1F;
$text-2:rgba(29, 29, 31, 0.75);
$benefit-bg:#42737A;
$white: #FFF;
$stars-bg:#F3FAFB;
$features-bg:#F3FCF7;
$features-button:#E6F9F0;
$footer-email:#F0F1EC;
$font-main: 'Inter', sans-serif;